.square{
	height: 20px;
	width:20px;
	padding: none;
	border: black solid 1px;
	display: inline-block;
}

#grid-container{
	margin: 0 auto;
	margin-top: 10px;
	height: 400px;
	width: 400px;
}

.square{
	background-color: white;
}

.head-container{
	margin: 0 auto;
	width: 400px;
}

#start-button{
	margin-left: 130px;
	width: 100px;
	background: orange;
}

#title{
	text-align: center;
	color: #E5FFCC;
	margin-right: 50px;
}



body{
	background-color: teal;
}


